header {
    background-color: pink;
    padding: 45px;
    color: whitesmoke
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    display: inline-block;
    
}

nav {
    float: right;
    color: whitesmoke;
    padding-top: 7px;
}

header nav ul li {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-right: 30px;
    
    
}

.main-card {
    width: 60%;
    background-color: cyan;

}

.main-card h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.sidebar {
    width: 35%;
    float: right;
    border-style: solid darkblue;
    background-color: cyan;
}


.side-card h1{
    text-align: center;
}
